---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import AboutTimeline from "../components/AboutTimeline.astro";
import ProjectsMap from "../components/ProjectsMap.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout title="Home">
  <Header />

  <!-- Hero section: not yet designed. Placeholder only. -->
  <section class="h-[700px]"></section>

  <AboutTimeline />
  
  <ProjectsMap />

  <Gallery />
</Layout>
