---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import AboutSection from "../components/AboutSection.astro";
import ProjectsMap from "../components/ProjectsMap.astro";
---

<Layout title="Home">
  <Header />

  <!-- Hero section: not yet designed. Placeholder only. -->
  <section class="h-[700px]"></section>

  <AboutSection />
  
  <ProjectsMap />
</Layout>
