---
import ImageCard from "./ImageCard.astro";
import DecorativeLines from "./DecorativeLines.astro";

import image1 from "../assets/images/about-us-1.png";
import image2 from "../assets/images/about-us-2.png";
---

<section class="relative">
  <DecorativeLines />

  <!-- Rotated "About us" label -->
  <div>
    <span
      class="pointer-events-none absolute top-24 left-2 origin-top-left -rotate-90 text-xl tracking-wide text-white/80 md:left-8"
    >
      About us
    </span>
  </div>

  <div class="mx-auto max-w-[1336px] px-8 py-20 md:px-16">
    <div class="relative grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-20">
      <!-- Left column: card 1 + paragraph below -->
      <div class="flex flex-col gap-8 md:gap-12">
        <ImageCard
          src={image1}
          alt="Peaches, grapes and rosé wine on a table"
          subheading="Subheading"
          class="h-[380px] w-full max-w-[444px]"
        />
        <p class="max-w-[440px] text-base leading-loose text-white/80">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation
        </p>
      </div>

      <!-- Right column: paragraph above + card 2, offset down -->
      <div class="flex flex-col gap-8 md:mt-8 md:gap-24">
        <p class="max-w-[440px] text-base leading-loose text-white/80">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation
        </p>
        <ImageCard
          src={image2}
          alt="Wine, bread and melon on a table"
          subheading="Subheading"
          class="h-[270px] w-full max-w-[446px]"
        />
      </div>
    </div>
  </div>
</section>
