---
---

<footer class="bg-gray-50 text-black px-8 py-10 md:px-48 flex flex-col gap-8 justify-between items-center md:flex-row">
		<p class="text-2xl">Mora Display</p>

		<nav aria-label="Footer" class="flex flex-col gap-3 text-center md:text-left">
			<a class="cursor-pointer text-gray-900" href="#about">About</a>
			<a class="cursor-pointer text-gray-900" href="#projects">Projects</a>
			<a class="cursor-pointer text-gray-900" href="#gallery">Services</a>
			<a class="cursor-pointer text-gray-900" href="#contact">Contact</a>
		</nav>
</footer>