---

---

<footer
  class="flex flex-col items-center justify-between gap-8 bg-gray-50 px-8 py-10 text-black md:flex-row md:px-32"
>
  <p class="text-3xl">Mora Display</p>

  <nav aria-label="Footer" class="grid md:grid-cols-2 gap-3 gap-x-24 text-center md:text-left">
    <a class="cursor-pointer" href="#corporate-philosophy">Corporate Philosophy</a>
    <a class="cursor-pointer" href="#our-strengths">Our Strengths</a>
    <a class="cursor-pointer" href="#history">History</a>
    <a class="cursor-pointer" href="#projects">Projects</a>
    <a class="cursor-pointer" href="#gallery">Gallery</a>
    <a class="cursor-pointer" href="#contact">Contact</a>
  </nav>
</footer>
